---

---

<section class="mt-8">
  <h2 class="text-base !font-medium text-muted-foreground mt-0">About</h2>
  <p>
    Your go-to source for the latest in crypto airdrops, testnet, retroactive rewards, and hidden blockchain gems. Stay ahead in Web3. 
  </p>
</section>
